/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*barra de navegacion*/
.navbar .nav {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .navbar .nav .nav_item {
    padding: .3%; }
  .navbar .nav .nav_link {
    text-decoration: none;
    color: #333; }
    .navbar .nav .nav_link:hover {
      color: #777; }

img {
  opacity: .9; }

/*fondo de inicio*/
.header_box {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header_box h1 {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 5%;
    font-weight: bolder;
    border: 8px solid #333;
    padding: 1% 2% 1%;
    background-color: rgba(250, 234, 214, 0.5); }
  .header_box a {
    font-size: 1.3rem; }
    .header_box a button {
      border: none;
      background-color: #333;
      color: #fff;
      padding: 10%; }

/*footer*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #faebd7;
  padding: 2%; }
  footer .footer_item {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem; }
    footer .footer_item a {
      text-decoration: none;
      color: #333; }
      footer .footer_item a:hover {
        color: #777;
        border-bottom: 1px solid #333; }

/*contenido de inicio*/
.contenido {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%; }
  .contenido .contenido_img {
    width: 45%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.5%;
    padding: 5%; }
    .contenido .contenido_img img {
      width: 40%;
      height: 55%;
      box-shadow: 0 0 8px #aaa; }
    .contenido .contenido_img img:first-child {
      align-self: end; }
  .contenido p {
    width: 40%;
    text-align: justify;
    display: flex;
    align-items: center;
    padding: 4%;
    margin-top: 3%;
    border-left: 1px solid #999; }
