/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

/*barra de navegacion*/
.navbar .nav {
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .navbar .nav .nav_item {
    padding: .3%; }
  .navbar .nav .nav_link {
    text-decoration: none;
    color: #333; }
    .navbar .nav .nav_link:hover {
      color: #777; }

img {
  opacity: .9; }

/*fondo de inicio*/
.header_box {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header_box h1 {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 5%;
    font-weight: bolder;
    border: 8px solid #333;
    padding: 1% 2% 1%;
    background-color: rgba(250, 234, 214, 0.5); }
  .header_box a {
    font-size: 1.3rem; }
    .header_box a button {
      border: none;
      background-color: #333;
      color: #fff;
      padding: 10%; }

/*footer*/
footer {
  display: flex;
  justify-content: space-around;
  background-color: #faebd7;
  padding: 2%; }
  footer .footer_item {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem; }
    footer .footer_item a {
      text-decoration: none;
      color: #333; }
      footer .footer_item a:hover {
        color: #777;
        border-bottom: 1px solid #333; }

/*contenido de inicio*/
.contenido {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%; }
  .contenido .contenido_img {
    width: 45%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.5%;
    padding: 5%; }
    .contenido .contenido_img img {
      width: 40%;
      height: 55%;
      box-shadow: 0 0 8px #aaa; }
    .contenido .contenido_img img:first-child {
      align-self: end; }
  .contenido p {
    width: 40%;
    text-align: justify;
    display: flex;
    align-items: center;
    padding: 4%;
    margin-top: 3%;
    border-left: 1px solid #999; }

/*contenido nosotros*/
.nos {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 4%;
  margin: 2% 1%; }
  .nos .nos_item {
    width: 80%;
    height: 50%;
    display: flex; }
    .nos .nos_item .nos_img {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 7%; }
      .nos .nos_item .nos_img img {
        width: 40%; }
        .nos .nos_item .nos_img img:nth-child(1) {
          width: 50%; }
    .nos .nos_item:nth-child(1) {
      flex-direction: row-reverse; }
    .nos .nos_item p {
      width: 60%;
      text-align: justify;
      display: flex;
      align-items: center;
      padding: 5%;
      border-right: 1px solid #999; }

.con .con_item {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%; }
  .con .con_item iframe {
    box-shadow: -35px -45px 1px 5px #fff,  -35px -45px 1px 10px #999; }
  .con .con_item h2 {
    color: #fff; }
  .con .con_item form {
    width: 25%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#ffddaa, #ffeeaa);
    padding: .5% 0% 1%;
    align-items: center;
    border-top: 10px solid #999; }
    .con .con_item form .form_item {
      width: 70%;
      display: flex;
      margin: 1% 2% 1%;
      border: none;
      padding: 1%; }
      .con .con_item form .form_item:focus {
        outline: none;
        box-shadow: 0 0 1px 3px #ffdd99, 0 0 5px 3px #999; }
    .con .con_item form .form_btn {
      display: flex;
      width: 60%;
      column-gap: 10%;
      margin-top: 5%; }
      .con .con_item form .form_btn input {
        width: 100%;
        padding: 1%;
        border: none;
        color: #fff;
        background-color: #999; }
        .con .con_item form .form_btn input:focus {
          outline: none;
          box-shadow: 0 0 1px 3px #ffdd99, 0 0 5px 3px #999; }
