/*footer*/
footer{
    display: flex;
    justify-content: space-around;
    background-color:#faebd7;
    padding: 2%;
    .footer_item{
          display: flex;
          flex-direction: column;
          row-gap: 1.2rem;
          a{
            text-decoration: none;
              color: #333;
              &:hover{
                color: #777;
                border-bottom: 1px solid #333;
            }
        }
    }
}