.con{
    .con_item{
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10%;
        iframe{
          box-shadow:
          -35px -45px 1px 5px #fff, 
          -35px -45px 1px 10px #999;
        }
        h2{
            color: #fff;
        }
        form{
            width: 25%;
            display: flex;
            flex-direction: column;
            background: linear-gradient(#ffddaa,#ffeeaa);
            padding: .5% 0% 1%;
            align-items: center;
            border-top: 10px solid #999;
            .form_item{
                width: 70%;
                display: flex;
                margin: 1% 2% 1%;
                border: none;
                padding: 1%;
                &:focus{
                    outline: none;
                    box-shadow: 0 0 1px 3px #ffdd99,
                                0 0 5px 3px #999;
                }
            }
            .form_btn{
                display: flex;
                width: 60%;
                column-gap: 10%;
                margin-top: 5%;
              input{
                  width: 100%;
                  padding: 1%;
                  border: none;
                  color: #fff;
                  background-color: #999;
                  &:focus{
                    outline: none;
                    box-shadow: 0 0 1px 3px #ffdd99,
                                0 0 5px 3px #999;
                }
              }
            }
        }
    }
}