/*contenido de inicio*/
.contenido{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    .contenido_img{
        width: 45%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 1.5%;
        padding: 5%;
        img{
            width: 40%;
            height: 55%;
            box-shadow: 0 0 8px #aaa;
        }
        img:first-child{
            align-self: end;
        }
    }
    p{
       width: 40%;
       text-align: justify;
       display: flex;
       align-items: center;
       padding: 4%;
       margin-top: 3%;
       border-left: 1px solid #999;
    }
}
