/*barra de navegacion*/
.navbar{
    .nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
        .nav_item{
            padding: .3%;
        }
        .nav_link{
            text-decoration: none;
            color: #333;
            &:hover{
                color: #777;
            }
        }
    }
}
img{
    opacity: .9;
}
